In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import cPickle

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

# plot styles
plt.style.use('seaborn-whitegrid')
sns.set_style('whitegrid')

In [2]:
f= open('../clean_data/train_merged.p','r')
train_merged = cPickle.load(f)
f.close()

train_merged.head(2)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,dist_to_spray,dist_to_ord,dist_to_mdw,station_name,Station
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,NaN,7.345852,11.913475,ORD,1
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,NaN,7.345852,11.913475,ORD,1

In [12]:
trap_msq = train_merged.groupby(['Trap','Date'])['NumMosquitos'].sum().reset_index()
trap_msq.rename({'NumMosquitos':'TotalMosquitos'},inplace=True)
trap_msq.head(10)

   Trap        Date  NumMosquitos
0  T001  2007-06-26             1
1  T001  2007-07-11             1
2  T001  2007-07-18             1
3  T001  2007-08-01             4
4  T001  2007-08-07             2
5  T001  2007-08-15            10
6  T001  2007-08-21             1
7  T001  2007-08-24             2
8  T001  2007-09-12             1
9  T001  2007-10-04             2

In [13]:
trap_msq.describe()

       NumMosquitos
count   4616.000000
mean      29.254549
std      118.533327
min        1.000000
25%        3.000000
50%        7.000000
75%       20.000000
max     3002.000000

### Now merge the train data back with the trap totals

In [17]:
train_msq = trap_msq.merge(train_merged,on=['Date','Trap'])
print train_merged.shape,trap_msq.shape,trap_msq.shape

(10506, 17) (4616, 3) (4616, 3)

In [18]:
# save the updated file

train_msq.to_csv('../clean_data/train_msq.csv')

f = open('../clean_data/train_msq.p','w')
cPickle.dump(train_msq,f)
f.close()

# Model Stuff